# Project 3

In this project, you will perform a logistic regression on the admissions data we've been working with in projects 1 and 2.

In [6]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np

/Users/jazz/anaconda2/lib/python2.7/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [7]:
df_raw = pd.read_csv("../assets/admissions.csv")
print df_raw.describe()
print df_raw.isnull().sum()
df = df_raw.dropna().copy()
print df.isnull().sum()
print df.head()

            admit         gre        gpa    prestige
count  400.000000  398.000000  398.00000  399.000000
mean     0.317500  588.040201    3.39093    2.486216
std      0.466087  115.628513    0.38063    0.945333
min      0.000000  220.000000    2.26000    1.000000
25%      0.000000  520.000000    3.13000    2.000000
50%      0.000000  580.000000    3.39500    2.000000
75%      1.000000  660.000000    3.67000    3.000000
max      1.000000  800.000000    4.00000    4.000000
admit       0
gre         2
gpa         2
prestige    1
dtype: int64
admit       0
gre         0
gpa         0
prestige    0
dtype: int64
   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

## Part 1. Frequency Tables

#### 1. Let's create a frequency table of our variables

In [54]:
# frequency table for prestige and whether or not someone was admitted
frequency = pd.crosstab(df['prestige'], df['prestige'], rownames=['admit'])
print frequency

prestige  1.0  2.0  3.0  4.0
admit
1.0        61    0    0    0
2.0         0  148    0    0
3.0         0    0  121    0
4.0         0    0    0   67

## Part 2. Return of dummy variables

#### 2.1 Create class or dummy variables for prestige

In [121]:
df2 = df.copy()
df2[['prestige']] = df2[['prestige']].astype(int)
dummy_ranks = pd.get_dummies(df2['prestige'], prefix="prestige")
df3 = df2.join(dummy_ranks)
print df3.head()

   admit    gre   gpa  prestige  prestige_1  prestige_2  prestige_3  \
0      0  380.0  3.61         3           0           0           1
1      1  660.0  3.67         3           0           0           1
2      1  800.0  4.00         1           1           0           0
3      1  640.0  3.19         4           0           0           0
4      0  520.0  2.93         4           0           0           0

   prestige_4
0           0
1           0
2           0
3           1
4           1

#### 2.2 When modeling our class variables, how many do we need?

Answer: we only need 3 dummies variables, one can be dropped

## Part 3. Hand calculating odds ratios

Develop your intuition about expected outcomes by hand calculating odds ratios.

In [122]:
cols_to_keep = ['admit', 'gre', 'gpa']
handCalc = df3[cols_to_keep].join(dummy_ranks.ix[:, 'prestige_1':])
print handCalc.head()

   admit    gre   gpa  prestige_1  prestige_2  prestige_3  prestige_4
0      0  380.0  3.61           0           0           1           0
1      1  660.0  3.67           0           0           1           0
2      1  800.0  4.00           1           0           0           0
3      1  640.0  3.19           0           0           0           1
4      0  520.0  2.93           0           0           0           1

/Users/jazz/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [123]:
#crosstab prestige 1 admission 
#frequency table cutting prestige and whether or not someone was admitted
crosstab1 = pd.crosstab(df3['admit'], df3['prestige_1'], rownames=['admit'])
print crosstab1

prestige_1    0   1
admit
0           243  28
1            93  33

#### 3.1 Use the cross tab above to calculate the odds of being admitted to grad school if you attended a #1 ranked college

In [124]:
odds1 = (33.0/28)
print odds

2.41898148148

#### 3.2 Now calculate the odds of admission if you did not attend a #1 ranked college

In [125]:
non1 = 93.0/243
print odds

2.41898148148

#### 3.3 Calculate the odds ratio

In [126]:
ratio = odds1/non1
print ratio

3.07949308756

#### 3.4 Write this finding in a sentenance:

Answer: If I didn't attend a #1 ranked school, I am 3 times less likely to be admitted.

#### 3.5 Print the cross tab for prestige_4

In [127]:
crosstab4 = pd.crosstab(df3['admit'], df3['prestige_4'], rownames=['admit'])
print crosstab4

prestige_4    0   1
admit
0           216  55
1           114  12

#### 3.6 Calculate the OR

In [128]:
odds4 = (12./55)
non4 = (114./216)
odds = non4/odds4
print odds4, non4, odds

0.218181818182 0.527777777778 2.41898148148

#### 3.7 Write this finding in a sentence

Answer: Students from rank 4 schools are 2.4 times less likely to be admitted.

## Part 4. Analysis

In [129]:
# create a clean data frame for the regression
cols_to_keep = ['admit', 'gre', 'gpa']
data = df[cols_to_keep].join(dummy_ranks.ix[:, 'prestige_2':])
print data.head()

   admit    gre   gpa  prestige_2  prestige_3  prestige_4
0      0  380.0  3.61           0           1           0
1      1  660.0  3.67           0           1           0
2      1  800.0  4.00           0           0           0
3      1  640.0  3.19           0           0           1
4      0  520.0  2.93           0           0           1

We're going to add a constant term for our Logistic Regression. The statsmodels function we're going to be using requires that intercepts/constants are specified explicitly.

In [130]:
# manually add the intercept
data['intercept'] = 1.0

#### 4.1 Set the covariates to a variable called train_cols

In [135]:
train_cols = data[['gre', 'gpa', 'prestige_2', 'prestige_3', 'prestige_4']]
train_cols.head()

     gre   gpa  prestige_2  prestige_3  prestige_4
0  380.0  3.61           0           1           0
1  660.0  3.67           0           1           0
2  800.0  4.00           0           0           0
3  640.0  3.19           0           0           1
4  520.0  2.93           0           0           1

#### 4.2 Fit the model

In [137]:
x = data[['intercept','gre', 'gpa', 'prestige_2', 'prestige_3', 'prestige_4']]
y = data['admit']
lm = sm.Logit(y, x)
result = lm.fit()

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 6

#### 4.3 Print the summary results

In [138]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      391
Method:                           MLE   Df Model:                            5
Date:                Sun, 10 Dec 2017   Pseudo R-squ.:                 0.08166
Time:                        20:42:00   Log-Likelihood:                -227.82
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.176e-07
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept     -3.8769      1.142     -3.393      0.001      -6.116      -1.638
gre            0.0022      0.001      2.028      0.043    7.44e-05       0.004
gpa            0.7793      0.333      2.344      0.019       0.128       1.431
prestige_2    -0.6801      0.317     -2.146      0.032      -1.301      -0.059
prestige_3    -1.3387      0.345     -3.882      0.000      -2.015      -0.663
prestige_4    -1.5534      0.417     -3.721      0.000      -2.372      -0.735
==============================================================================
"""

#### 4.4 Calculate the odds ratios of the coeffiencents and their 95% CI intervals

hint 1: np.exp(X)

hint 2: conf['OR'] = params
        
           conf.columns = ['2.5%', '97.5%', 'OR']

In [140]:
conf = result.conf_int()
conf['OR'] = result.params
conf.columns = ['2.5%', '97.5%', 'OR']
np.exp(conf)

                2.5%     97.5%        OR
intercept   0.002207  0.194440  0.020716
gre         1.000074  1.004372  1.002221
gpa         1.136120  4.183113  2.180027
prestige_2  0.272168  0.942767  0.506548
prestige_3  0.133377  0.515419  0.262192
prestige_4  0.093329  0.479411  0.211525

#### 4.5 Interpret the OR of Prestige_2

Answer: A student from prestige_2's odds of being admitted are 50% of that of prestige_1 student.

#### 4.6 Interpret the OR of GPA

Answer: there is 2:1 change being admitted depending on the gpa

## Part 5: Predicted probablities

As a way of evaluating our classifier, we're going to recreate the dataset with every logical combination of input values. This will allow us to see how the predicted probability of admission increases/decreases across different variables. First we're going to generate the combinations using a helper function called cartesian (above).

We're going to use np.linspace to create a range of values for "gre" and "gpa". This creates a range of linearly spaced values from a specified min and maximum value--in our case just the min/max observed values.

In [141]:
def cartesian(arrays, out=None):
    """
    Generate a cartesian product of input arrays.
    Parameters
    ----------
    arrays : list of array-like
        1-D arrays to form the cartesian product of.
    out : ndarray
        Array to place the cartesian product in.
    Returns
    -------
    out : ndarray
        2-D array of shape (M, len(arrays)) containing cartesian products
        formed of input arrays.
    Examples
    --------
    >>> cartesian(([1, 2, 3], [4, 5], [6, 7]))
    array([[1, 4, 6],
           [1, 4, 7],
           [1, 5, 6],
           [1, 5, 7],
           [2, 4, 6],
           [2, 4, 7],
           [2, 5, 6],
           [2, 5, 7],
           [3, 4, 6],
           [3, 4, 7],
           [3, 5, 6],
           [3, 5, 7]])
    """

    arrays = [np.asarray(x) for x in arrays]
    dtype = arrays[0].dtype

    n = np.prod([x.size for x in arrays])
    if out is None:
        out = np.zeros([n, len(arrays)], dtype=dtype)

    m = n / arrays[0].size
    out[:,0] = np.repeat(arrays[0], m)
    if arrays[1:]:
        cartesian(arrays[1:], out=out[0:m,1:])
        for j in xrange(1, arrays[0].size):
            out[j*m:(j+1)*m,1:] = out[0:m,1:]
    return out

In [142]:
# instead of generating all possible values of GRE and GPA, we're going
# to use an evenly spaced range of 10 values from the min to the max 
gres = np.linspace(data['gre'].min(), data['gre'].max(), 10)
print gres
# array([ 220.        ,  284.44444444,  348.88888889,  413.33333333,
#         477.77777778,  542.22222222,  606.66666667,  671.11111111,
#         735.55555556,  800.        ])
gpas = np.linspace(data['gpa'].min(), data['gpa'].max(), 10)
print gpas
# array([ 2.26      ,  2.45333333,  2.64666667,  2.84      ,  3.03333333,
#         3.22666667,  3.42      ,  3.61333333,  3.80666667,  4.        ])


# enumerate all possibilities
combos = pd.DataFrame(cartesian([gres, gpas, [1, 2, 3, 4], [1.]]))

[ 220.          284.44444444  348.88888889  413.33333333  477.77777778
  542.22222222  606.66666667  671.11111111  735.55555556  800.        ]
[ 2.26        2.45333333  2.64666667  2.84        3.03333333  3.22666667
  3.42        3.61333333  3.80666667  4.        ]

#### 5.1 Recreate the dummy variables

In [150]:
combos.head()
combos.columns=['gre','gpa','prestige','intercept']
combos.head()
# recreate the dummy variables
dummy_ranks_new=pd.get_dummies(combos['prestige'], prefix='prestige')

# keep only what we need for making predictions
cols_to_keep2 = ['gre', 'gpa']
data2 = combos[cols_to_keep2].join(dummy_ranks_new.loc[:, 'prestige_2':])
data2['intercept'] = 1.0
print data2.head()

     gre       gpa  prestige_2.0  prestige_3.0  prestige_4.0  intercept
0  220.0  2.260000             0             0             0        1.0
1  220.0  2.260000             1             0             0        1.0
2  220.0  2.260000             0             1             0        1.0
3  220.0  2.260000             0             0             1        1.0
4  220.0  2.453333             0             0             0        1.0

#### 5.2 Make predictions on the enumerated dataset

In [156]:
x2 = data2[['intercept','gre', 'gpa', 'prestige_2.0', 'prestige_3.0', 'prestige_4.0']]
data2['admit'] = result.predict(x2)
data2.tail()

,gre,gpa,prestige_2.0,prestige_3.0,prestige_4.0,intercept,admit
395,800.0,3.806667,0,0,1,1.0,0.334286
396,800.0,4.000000,0,0,0,1.0,0.734040
397,800.0,4.000000,1,0,0,1.0,0.582995
398,800.0,4.000000,0,1,0,1.0,0.419833
399,800.0,4.000000,0,0,1,1.0,0.368608

#### 5.3 Interpret findings for the last 4 observations

Answer: If gre, and gpa are equal: 
- prestige_1 students has 73% chance of being accepted.
- prestige_2 students has 58% chance of being accepted.
- prestige_3 students has 41% chance of being accepted.
- prestige_4 students has 36% chance of being accepted.

## Bonus

Plot the probability of being admitted into graduate school, stratified by GPA and GRE score.